
html, body {
    padding: 0;
    margin: 0;

    --border-color: #adadad;
    --highlight-background-color: #efefef;
    --subtile-font-color: #4f4f4f;
    --background-color: #ffffff;
    --font-color: black;
    --accent-color: rgba(255, 165, 0, 0.75);

    background: var(--background-color);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    font-family: sans-serif;
    background: var(--highlight-background-color);
    border-bottom: 1pt solid var(--border-color);
    margin-bottom: 2rem;
}

#links {
    margin: auto;
    width: calc(min(90%, 65rem));
    display: flex;
}

.subtitle {
    padding-top: 0.25rem;
    font-size: 1rem;
    font-weight: normal;
}

.link {
    text-decoration: none;
    color: var(--subtile-font-color);
    border-bottom: 2pt solid var(--accent-color);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    flex-grow: 0;
}

.h1 {
    padding-left: 4rem;
    font-weight: bold;
    font-size: 24pt;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.h2 {
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#folder-view-head {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
}

#last-update-time {
    flex-grow: 1;
    margin: auto;
}

#download-group {
    display: flex;
    flex-wrap: nowrap;
    flex: 0;
}

#download-type {
    background: linear-gradient(0, rgb(0, 255, 41) 0%, rgb(170, 255, 185) 100%);
    padding: 2pt 6pt 2pt 6pt;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1pt solid var(--border-color);
}

#btn-download {
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1pt solid var(--border-color);
    border-left: none;
    padding: 2pt 2rem 2pt 8pt;
    height: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

#folder-view {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1pt solid var(--border-color);
    border-top: none;
    font-family: sans-serif;
}

#folder-path {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1pt solid var(--border-color);
    border-bottom: none;
    margin-top: 1rem;
    padding: 0.5rem;
    background: var(--highlight-background-color);
}

.folder-view-item {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    text-decoration: none;
    color: black;
    padding: 5pt;
    border-top: 1pt solid var(--border-color);
}

.folder-view-item:hover {
    background: var(--highlight-background-color);
}

.folder-icon::before {
    content: "";
    display: inline-block;
    background-image: url("res/folder.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.readme-icon::before {
    content: "";
    display: inline-block;
    background-image: url("res/readme.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.about-icon::before {
    content: "";
    display: inline-block;
    background-image: url("res/about.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.license-icon::before {
    content: "";
    display: inline-block;
    background-image: url("res/license.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.file-icon::before {
    content: "";
    display: inline-block;
    background-image: url("res/file.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.home-icon::before {
    content: "";
    display: inline-block;
    background-image: url("res/home.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.legal-icon::before {
    content: "";
    display: inline-block;
    background-image: url("res/legal.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.impressum-icon::before {
     content: "";
     display: inline-block;
     background-image: url("res/impressum.svg");
     background-size: contain;
     background-repeat: no-repeat;
     width: 1rem;
     height: 1rem;
     margin-right: 1rem;
     margin-left: 0.5rem;
 }

.file-name {
    flex: 1;
    color: var(--font-color);
}

.file-added {
    flex: 0.7;
    text-align: right;
    flex-wrap: nowrap;
    color: var(--subtile-font-color);
}

.file-size {
    flex: 0.6;
    text-align: right;
    flex-wrap: nowrap;
    color: var(--subtile-font-color);
}

#readme {
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1pt solid var(--border-color);
    border-top: none;
    padding: 1rem;
}

#readme-title {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1pt solid var(--border-color);
    margin-top: 1rem;
    padding: 0.5rem;
    background: var(--highlight-background-color);
    font-weight: bold;
}

pre {
    background: var(--highlight-background-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#footer {
    flex-shrink: 0;
    margin-top: 4rem;
    width: 100%;
    border-top: 1pt solid var(--border-color);
    background: var(--highlight-background-color);

    text-align: center;
    font-family: sans-serif;
}

#powered-by {
    padding: 4pt;
}

#stats-group {
    margin-top: 1rem;
    flex-basis: 100%;
    flex-wrap: nowrap;
    border-radius: 0.5rem;
    border: 1pt solid var(--border-color);
    background: var(--highlight-background-color);
    padding: 0.5rem;
    display: flex;
}

#folder-count {
    text-align: center;
    flex: 0.3333;
}

#file-count {
    text-align: center;
    flex: 0.3333;
}

#file-size-total {
    text-align: center;
    flex: 0.3333;
}

#two-columns {
    display: flex;
    width: calc(min(90%, 65rem));
    margin: auto;
    flex: 1;
    align-items: flex-start;
}

#content {
    flex: 75%;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}

#about {
    font-family: sans-serif;
    margin-top: 2.5rem;
    margin-left: 2rem;
    flex: 25%;
}

.error {
    border: 1pt solid red;
    border-radius: 0.5rem;
    background: rgba(255, 0, 0, 0.25);
    padding: 1rem;
    text-align: center;
    flex-basis: 100%;
    margin: 1rem;
}

.warning {
    border: 1pt solid yellow;
    border-radius: 0.5rem;
    background: rgba(255, 255, 0, 0.25);
    padding: 1rem;
    text-align: center;
    flex-basis: 100%;
    margin: 1rem;
 }

.about-info {
    color: var(--subtile-font-color);
    line-height: 2rem;
    display: block;
    padding-left: 1rem;
    text-decoration: none;
}

#description {
    word-wrap: anywhere;
    border-bottom: 1pt solid var(--border-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}