
html, body {
    padding: 0;
    margin: 0;
}

#content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: calc(min(90%, 50rem));
    font-family: sans-serif;
}

.h1 {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 24pt;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#folder-view-head {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
}

#last-update-time {
    flex-grow: 1;
    margin: auto;
}

#download-group {
    display: flex;
    flex-wrap: nowrap;
    flex: 0;
}

#download-type {
    background: linear-gradient(0, rgb(0, 255, 41) 0%, rgb(170, 255, 185) 100%);
    padding: 2pt 6pt 2pt 6pt;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1pt solid #888888;
}

#btn-download {
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1pt solid #888888;
    border-left: none;
    padding: 2pt 2rem 2pt 8pt;
    height: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

#folder-view {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1pt solid #c4c4c4;
    border-top: none;
    font-family: sans-serif;
}

#folder-path {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1pt solid rgba(100, 149, 237, 0.5);
    border-bottom: none;
    margin-top: 1rem;
    padding: 0.5rem;
    background: rgba(100, 149, 237, 0.15);
}

.folder-view-item {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    text-decoration: none;
    color: black;
    padding: 5pt;
    border-top: 1pt solid #c4c4c4;
}

.folder-view-item:hover {
    background: #f3f3f3;
}

.folder-icon::before {
    content: "";
    display: inline-block;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Ffolder-png-folder-icon-1600.png&f=1&nofb=1&ipt=043be1c8a895d540431060ee3349f1d3161cd2668320591424572fe8dac4c552&ipo=images");
    background-size: cover;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.file-icon::before {
    content: "";
    display: inline-block;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ficon-library.com%2Fimages%2Ficon-file%2Ficon-file-29.jpg&f=1&nofb=1&ipt=fc5c465694ba3f4d88fee35b81fde108be9f472a3d094ce18e960d5854c22c1b&ipo=images");
    background-size: cover;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.file-name {
    flex: 1;
    color: rgba(0, 0, 255, 0.71);
}

.file-added {
    flex: 0.7;
    text-align: right;
    flex-wrap: nowrap;
    color: #4d4d4d;
}

.file-size {
    flex: 0.6;
    text-align: right;
    flex-wrap: nowrap;
    color: #4d4d4d;
}

#readme {
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1pt solid #c4c4c4;
    border-top: none;
    padding: 1rem;
}

#readme-title {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1pt solid #c4c4c4;
    margin-top: 1rem;
    padding: 0.5rem;
    background: #f3f3f3;
    font-weight: bold;
}

pre {
    background: #dadada;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#footer {
    width: 100%;
    border-top: 1pt solid lightgray;
    position: absolute;
    bottom: 0;

    text-align: center;
    font-family: sans-serif;
}

#powered-by {
    padding: 4pt;
}