
html, body {
    padding: 0;
    margin: 0;

    --border-color: #cecece;
    --highlight-background-color: #efefef;
    --subtile-font-color: #646464;
    --background-color: #ffffff;
    --font-color: black;
    --border-radius: 0.3rem;
    --accent-color: #d9a23f;

    background: var(--background-color);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.accent {
    color: var(--accent-color);
}

#header {
    font-family: sans-serif;
    background: var(--highlight-background-color);
    border-bottom: 1pt solid var(--border-color);
    margin-bottom: 2rem;
}

#links {
    margin: auto;
    width: calc(min(90%, 65rem));
    display: flex;
}

.subtitle {
    padding-top: 0.25rem;
    font-size: 1rem;
    font-weight: normal;
}

.link {
    text-decoration: none;
    color: var(--subtile-font-color);
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.1rem;
    padding: 0.5rem;
    text-align: center;
    flex-grow: 0;
    border-radius: var(--border-radius);
}

.link:hover {
    background: var(--background-color);
}

.h1 {
    width: calc(min(90%, 65rem));
    margin: auto;
    text-align: left;
    font-weight: bold;
    font-size: 24pt;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.h2 {
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#folder-view-head {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
}

#download-zip-group {
    display: flex;
    flex-wrap: nowrap;
    flex: 0;
}

.align-right {
    margin-left: auto;
}

.spacing-right {
    margin-right: 0.5rem;
}

#download-zip-type {
    background: var(--accent-color);
    padding: 2pt 6pt 2pt 6pt;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-left: 1pt solid var(--border-color);
    border-top: 1pt solid var(--border-color);
    border-bottom: 1pt solid var(--border-color);
}

#https-download-link {
    border-top: 1pt solid var(--border-color);
    border-bottom: 1pt solid var(--border-color);
    border-right: 1pt solid var(--border-color);
    background: var(--background-color);
    padding: 2pt 2rem 2pt 8pt;
    height: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    flex-wrap: nowrap;
    text-wrap: none;
    white-space: nowrap;
}

#copy-to-clipboard {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border-top: 1pt solid var(--border-color);
    border-bottom: 1pt solid var(--border-color);
    border-right: 1pt solid var(--border-color);
    border-left: none;
    padding: 2pt 4pt;
    width: 2rem;
    background: var(--highlight-background-color);
}

#copy-to-clipboard:hover {
    background: var(--background-color);
}

.no-description {
    font-style: italic;
    color: var(--subtile-font-color);
}

#btn-zip-download {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: 1pt solid var(--border-color);
    background: var(--highlight-background-color);
    padding: 2pt 2rem 2pt 8pt;
    height: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

#btn-zip-download:hover {
    background: var(--background-color);
}

#folder-view {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-left: 1pt solid var(--border-color);
    border-right: 1pt solid var(--border-color);
    border-bottom: 1pt solid var(--border-color);
    font-family: sans-serif;
}

#folder-path {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin-top: 1rem;
    padding: 0.5rem;
    border-top: 1pt solid var(--border-color);
    border-left: 1pt solid var(--border-color);
    border-right: 1pt solid var(--border-color);
    background: var(--highlight-background-color);
    font-weight: bold;
}

.folder-view-item {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    text-decoration: none;
    color: black;
    padding: 5pt 10pt;
    border-top: 1pt solid var(--border-color);
}

.folder-view-item:hover {
    background: var(--highlight-background-color);
}

.file-icon {
    margin-right: 1rem;
}

.file-name {
    flex: 1;
    color: var(--font-color);
}

.file-name:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

.file-added {
    flex: 0.7;
    text-align: left;
    flex-wrap: nowrap;
    color: var(--subtile-font-color);
}

.file-size {
    flex: 0.5;
    text-align: right;
    flex-wrap: nowrap;
    color: var(--subtile-font-color);
}

#readme {
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-left: 1pt solid var(--border-color);
    border-right: 1pt solid var(--border-color);
    border-bottom: 1pt solid var(--border-color);
    padding: 1rem;
}

#readme-title {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: 1pt solid var(--border-color);
    margin-top: 1rem;
    padding: 0.5rem;
    background: var(--highlight-background-color);
    font-weight: bold;
}

pre {
    background: var(--highlight-background-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

#footer {
    flex-shrink: 0;
    margin-top: 4rem;
    width: 100%;
    border-top: 1pt solid var(--border-color);
    background: var(--highlight-background-color);

    text-align: center;
    font-family: sans-serif;
}

#powered-by {
    padding: 4pt;
}

.fa-width {
    width: 2rem;
}

#stats-group {
    margin-top: 1rem;
    flex-basis: 100%;
    flex-wrap: nowrap;
    border-radius: var(--border-radius);
    border: 1pt solid var(--border-color);
    background: var(--highlight-background-color);
    padding: 0.5rem;
    display: flex;
}

#folder-count {
    text-align: center;
    flex: 0.3333;
}

#file-count {
    text-align: center;
    flex: 0.3333;
}

#file-size-total {
    text-align: center;
    flex: 0.3333;
}

#two-columns {
    display: flex;
    width: calc(min(90%, 65rem));
    margin: auto;
    flex: 1;
    align-items: flex-start;
}

#content {
    flex: 75%;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}

#about {
    font-family: sans-serif;
    margin-top: 2.5rem;
    margin-left: 2rem;
    flex: 25%;
}

.error {
    border: 1pt solid crimson;
    border-radius: var(--border-radius);
    background: rgba(220, 20, 60, 0.25);
    padding: 1rem;
    text-align: center;
    flex-basis: 100%;
    margin: 1rem;
}

.information {
    border: 1pt solid cornflowerblue;
    border-radius: var(--border-radius);
    background: rgba(100, 149, 237, 0.25);
    padding: 1rem;
    text-align: center;
    flex-basis: 100%;
    margin: 1rem;
 }

.about-info {
    color: var(--subtile-font-color);
    line-height: 2rem;
    display: block;
    padding-left: 1rem;
    text-decoration: none;
}

#description {
    word-wrap: anywhere;
    border-bottom: 1pt solid var(--border-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

#directory-path {
    width: calc(min(90%, 65rem));
    display: flex;
    margin: auto auto 1rem;
}

.directory-segment {
    display: inline;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-decoration: none;
    color: var(--accent-color);
    text-underline-style: none;
}

.directory-segment:hover {
    text-underline-color: var(--accent-color);
    text-decoration: underline;
}

.directory-segment-invalid {
    display: inline;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-decoration: underline;
    color: var(--subtile-font-color);
    text-underline-style: wave;
    text-underline-color: crimson;
}

.directory-separator {
    display: inline;
    font-size: 1.25rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: var(--subtile-font-color);
}

#root-segment {
    color: var(--font-color);
    padding-right: 0.2rem;
}

#root-segment:hover {
    text-underline-color: var(--font-color);
}